@page "/julia"

<div class="container text-center">
    <div class="input-group input-group-lg m-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">C = </span>
        </div>
        <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" @bind-value="@_cRe"/>
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg"> +  </span>
        </div>
        <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" @bind-value="@_cIm"/>
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg"> i  </span>
        </div>
    </div>
    <div class="input-group input-group-lg m-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Max iterations</span>
        </div>
        <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" @bind-value="@_maxIterations"/>
    </div>
    <div class="row m-3">
        <label type="button" class="btn btn-secondary btn-lg m-1 @(_zoomIn ? "disabled" : "")" @onclick="@ZoomIn" >
            <span class="oi oi-zoom-in"></span>
            Zoom in
        </label>
        <label type="button" class="btn btn-secondary btn-lg m-1 @(_zoomIn ? "" : "disabled")" @onclick="@ZoomOut">
            <span class="oi oi-zoom-out"></span>
            Zoom out
        </label>        
        <label type="button" class="btn btn-secondary btn-lg m-1" @onclick="@(() => Generate(true))">Generate Julia Set</label>
    </div>
    <div class="container">
        <label class="text-secondary"> <b>X:</b> from @_fromX.ToString("0.0##") to @_toX.ToString("0.0##"), <b>Y:</b> from @_fromY.ToString("0.0##") to @_toY.ToString("0.0##") </label>
    </div>
    <div class="container-fluid min-vh-100 d-flex flex-column @(_isBusy ? "invisible" : "visible")">
        <img class="@ImgClass"  @onclick="Click"
             src="data:image;base64,@Convert.ToBase64String(_genBytes)"
             alt="Fractal is unavailable"/>
        <div class="spinner-border spinner @(_isBusy ? "visible" : "invisible") text-secondary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

@using amazing.fractals.Data
@inject JuliaGeneratorService GeneratorService

@code {
    private byte[] _genBytes = new byte[0];
    private int _imageSize = 1000; // px
    private double _cRe = -0.8;
    private double _cIm = 0.156;
    private int _maxIterations = 500;
    private bool _zoomIn = true;
    private bool _isBusy;
    private double _fromX;
    private double _toX;
    private double _fromY;
    private double _toY;
    const double ZoomCoeff = 0.2;
    
    private string ImgClass => $"img-fluid {(_zoomIn ? "cursor-zoom-in" : "cursor-zoom-out")}";

    private void ZoomIn()
    {
        _zoomIn = true;
        StateHasChanged();
    }

    private void ZoomOut()
    {
        _zoomIn = false;
        StateHasChanged();
    }
    
    protected override async Task OnInitializedAsync()
    {
        await Generate(true);
    }

    private async Task Generate(bool reset)
    {
        if (reset)
        {
            _fromX = -1.5;
            _fromY = -1.5;
            _toX = 1.5;
            _toY = 1.5;
        }
        
        await Task.Run(() =>
        {
            _genBytes = new byte[0];
            _isBusy = true;
        })
            .ContinueWith(async (res) =>
            {
                _genBytes = await GeneratorService.Generate(new FractalGenerationData()
                {
                    ImageHeight = _imageSize,
                    ImageWidth = _imageSize,
                    CRe = _cRe,
                    CIm = _cIm,
                    MaxIterations = _maxIterations,
                    FromX = _fromX,
                    ToX = _toX,
                    FromY = _fromY,
                    ToY = _toY
                });
                _isBusy = false;
            });
    }

    private async Task Click(MouseEventArgs args)
    {
        var moveX = args.OffsetX - _imageSize / 2;
        var moveY = args.OffsetY - _imageSize / 2;

        // move center of the fractal
        var shiftX = 0D;
        if (moveX != 0)
            shiftX = (_toX - _fromX) / _imageSize * moveX;
        
        var shiftY = 0D;
        if (moveY != 0)
            shiftY =  (_toY - _fromY) / _imageSize * moveY ;
        
        var m = 1 + ZoomCoeff / 2;
        if (_zoomIn)
            m = 1 / m;

        _fromX = _fromX * m + shiftX;
        _fromY = _fromY * m + shiftY;
        _toX = _toX * m + shiftX;
        _toY = _toY * m + shiftY;

        await Generate(false);
    }
}