@page "/julia"

<div class="container text-center">
    <div class="input-group input-group-lg m-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">C = </span>
        </div>
        <input type="text" class="form-control floatNumber" aria-label="Large" aria-describedby="inputGroup-sizing-sm" @bind-value="@_cRe"/>
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg"> +  </span>
        </div>
        <input type="text" class="form-control floatNumber" aria-label="Large" aria-describedby="inputGroup-sizing-sm" @bind-value="@_cIm"/>
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg"> i  </span>
        </div>
    </div>
    <div class="input-group input-group-lg m-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Max iterations</span>
        </div>
        <input type="text" class="form-control number" aria-label="Large" aria-describedby="inputGroup-sizing-sm" @bind-value="@_maxIterations"/>
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Zoom coeff.</span>
        </div>
        <input type="text" class="form-control number" aria-label="Large" aria-describedby="inputGroup-sizing-sm" @bind-value="@_zoomCoeff"/>
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">R</span>
        </div>
        <input type="text" class="form-control number" aria-label="Large" aria-describedby="inputGroup-sizing-sm" @bind-value="@_r"/>
    </div>
    <div class="row m-3">
        <label type="button" class="btn btn-outline-secondary btn-lg m-1 @(_mode == Mode.ZoomIn ? "": "disabled")" @onclick="@ZoomIn" >
            <span class="oi oi-zoom-in"></span>
        </label>
        <label type="button" class="btn btn-outline-secondary btn-lg m-1 @(_mode == Mode.ZoomOut ? "" : "disabled")" @onclick="@ZoomOut">
            <span class="oi oi-zoom-out"></span>
        </label>
        <label type="button" class="btn btn-outline-secondary btn-lg m-1 @(_mode == Mode.Move ? "" : "disabled")" @onclick="@Move">
            <span class="oi oi-move"></span>
        </label>
        
        <label type="button" class="btn btn-secondary btn-lg m-1" @onclick="@(() => Generate(true))">Generate Julia Set</label>
    </div>
    <div class="container">
        <label class="text-secondary"> <b>X:</b> from @_fromX.ToString("0.0##") to @_toX.ToString("0.0##"), <b>Y:</b> from @_fromY.ToString("0.0##") to @_toY.ToString("0.0##") </label>
    </div>
    <div id="imgContainer" class="container w-75 @(_isBusy ? "invisible" : "visible")">
        <img class="@ImgClass"  @onclick="Click"
             src="data:image;base64,@Convert.ToBase64String(_genBytes)"
             alt="Fractal is unavailable"/>
        <div class="spinner-border spinner @(_isBusy ? "visible" : "invisible") text-secondary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

@using amazing.fractals.Data
@inject JuliaGeneratorService GeneratorService
@inject IJSRuntime Jsr;

@code {

    private enum Mode
    {
        ZoomIn,
        ZoomOut,
        Move
    }
    
    private byte[] _genBytes = new byte[0];
    private double _cRe = -0.7269;
    private double _cIm = 0.21;
    private int _maxIterations = 500;
    private Mode _mode;
    private bool _isBusy = true;
    private double _fromX;
    private double _toX;
    private double _fromY;
    private double _toY;
    private double _zoomCoeff = 0.5;
    private double _r = 2;

    private string ImgClass => $"img-fluid border {GetCursorName()}";

    private string GetCursorName()
    {
        return _mode switch
        {
            Mode.ZoomIn => "cursor-zoom-in",
            Mode.ZoomOut => "cursor-zoom-out",
            _ => "cursor-move"
        };
    }
    
    private void ZoomIn()
    {
        _mode = Mode.ZoomIn;
        StateHasChanged();
    }

    private void ZoomOut()
    {
        _mode = Mode.ZoomOut;
        StateHasChanged();
    }
    
    private void Move()
    {
        _mode = Mode.Move;
        StateHasChanged();
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Generate(true);
            StateHasChanged();
        }
    }

    private async Task Generate(bool reset)
    {
        var dims = await GetDimensions();

        if (Math.Abs(dims.Width - dims.Height) > 0.01)
        {
            var max = Math.Max(dims.Width, dims.Height);
            dims.Width = dims.Height = max;
        }

        if (reset)
        {
            _fromX = -1.5;
            _fromY = -1.5;
            _toX = 1.5;
            _toY = 1.5;
        }

        if (_zoomCoeff < 0)
            _zoomCoeff = Math.Abs(_zoomCoeff);
        
        await Task.Run(() =>
        {
            _genBytes = new byte[0];
            _isBusy = true;
        })
            .ContinueWith(async (res) =>
            {
                _genBytes = await GeneratorService.Generate(new FractalGenerationData()
                {
                    ImageHeight = (int)dims.Width,
                    ImageWidth = (int)dims.Height,
                    CRe = _cRe,
                    CIm = _cIm,
                    MaxIterations = _maxIterations,
                    R = _r,
                    FromX = _fromX,
                    ToX = _toX,
                    FromY = _fromY,
                    ToY = _toY
                });
                _isBusy = false;
            });
    }

    private async Task Click(MouseEventArgs args)
    {
        var dims = await GetDimensions();

        var wX = _toX - _fromX;
        var wY = _toY - _fromY;
        var centerX = _fromX + wX / dims.Width * args.OffsetX ;
        var centerY = _fromY + wY / dims.Height * args.OffsetY;

        var m = _mode switch
        {
            Mode.ZoomOut => 1 + _zoomCoeff,
            Mode.ZoomIn => 1 / (1 + _zoomCoeff),
            _ => 1
        };

        _fromX = centerX - wX * m / 2;
        _fromY = centerY - wY * m / 2;
        _toX = _fromX + wX * m;
        _toY = _fromY + wY * m;

        await Generate(false);
    }

    private async Task<BoundingClientRect> GetDimensions()
    {
        return await Jsr.InvokeAsync<BoundingClientRect>("getClientRect", "imgContainer");
    }
}